
Models/
Raw_Data/
Results/
Bench/OBJ_score_evaluation.py
*.zip
prepare_data.py
README_v0.md
**/.DS_Store

Data/*
!Data/GAOKAO-Bench-2023
!Data/GAOKAO-Bench-2024
!/Data/GAOKAO-Bench-2023/*
!/Data/GAOKAO-Bench-2024/*
